* {
  margin: 0;
  padding: 0;
}

.header {
  /* Set the minimum height of the header section to 100% of the viewport height */
  min-height: 100vh;
  /* Set the width of the header to 100% of the parent element */
  width: 100%;
  /*Apply a background image with a linear gradient overlay.*/
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4,9,30,0.7)), url(images/backgroung-header.jpg);
  /* Position the background image at the center of the header */
  background-position: center;
  /* Scale the background image to cover the entire header area */
  background-size: cover;
  /* Set the position of the header relative to its parent element */
  position: relative;
}
