/* General styles */
body {
  font-family: "Libre Baskerville", serif;
padding: 0;
    margin: 0;
  line-height: 1.6;
}
.home .text-box {
  text-align: center;
  z-index: 1;
  color: #fff;
}

.slogan {
  font-size: 4rem;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navigation Bar */
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.header .nav-links ul {
  display: flex;
}

.header .nav-links ul li {
  margin: 0 15px;
}

.header .nav-links ul li a {
  color: #fff;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.header .nav-links ul li a:hover {
  color: #ddd;
}

/* Hero Section */
.home {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.834),
      rgba(232, 213, 127, 0.813)
    ),
    url(images/backgroung-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay opacity as needed */
  z-index: 0;
}

/* About Section */
.about {
  min-height: 40vh;
  padding: 100px 0;
  text-align: center;
  background-color: #f4f4f4;
}

.about-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-content p {
  font-size: 1.5rem;
  flex: 1;
  margin: 0;
}

.project {
  min-height: 40vh;
  padding: 100px 0;
  text-align: center;
  background-color: #eae89c;
}

.project-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.project-content p {
  font-size: 1.5rem;
  flex: 1;
  margin: 0;
}

.project-content img {
  width: 100%;
}

/* Footer Section */
.footer {
  padding: 10px 0;
  background-color: #887514d5;
  color: #fff;
  text-align: center;
}

.footer h4 {
  margin-bottom: 20px;
}

.footer p {
  max-width: 600px;
  margin: 0 auto;
}
